body { 
	font-family: helvetica, arial, sans-serif;
}

h1 {
	text-align: center;
}

.grid-container {
	
	width: 100%;
	display: grid;
	grid-template-areas: 
		'c a b d'
		'e f g h';
	justify-content: space-center;
	column-gap: 50px;
	
}

#colorSample {
	
	width: 500px;
	height: 300px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	font-size: 3em;
	text-align: center;
	padding-top: 50px;
	
}

.answer {
	
	width: 100%;
	font-size: 2em;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: thin solid black;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	
}

.score {
	
	width: 500px;
	font-size: 2em;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: thin solid black;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	
}

#lightbox {
	
	display: block;
	z-index: 1;
	background-color: white;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
}

.gametype {
	
	width: 500px;
	height: 300px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	text-align: center;
	padding-top: 50px;
	
}

.gametype > div {
	
	margin: 2.5em;
	padding: 1em;
	font-size: 20px;
	border: thin solid black;
	
}

#code {
	
	background-color: #22ee22;
	
}

#code:hover {
	
	background-color: #11dd11;
	
}

#color {
	
	background-color: #22eeee;
	
}

#color:hover {
	
	background-color: #11dddd;
	
}

#level {
	
	position: absolute;
	right: 0;
	top: 0;
	font-size: 2em;
	
}

#a {
	grid-area: a;
	user-select: none;
}

#b {
	grid-area: b;
	user-select: none;
}

#c {
	grid-area: c;
	user-select: none;
}

#d {
	grid-area: d;
	user-select: none;
}

#e {
	grid-area: e;
	user-select: none;
}

#f {
	grid-area: f;
	user-select: none;
}

#g {
	grid-area: g;
	user-select: none;
}

#h {
	grid-area: h;
	user-select: none;
}